# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Mac
.DS_Store

# Uploads
uploads/
data/uploads/

# Model files (optional but recommended)
models/*.pkl

# Dataset
data/dataset.csv

# VS Code
.vscode/